/* General styling */
body {
    font-family: 'SF Pro Display', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #11111b; /* Background color for the page */
}

/* Container styling */
.container {
    width: 700px; /* Width of the container */
    height: 400px; /* Height of the container */
    max-width: calc(100% - 20px); /* Maximum width of the container */
    max-height: calc(100% - 20px); /* Maximum height of the container */
    background-color: #181825; /* Background color of the container */
    border-radius: 10px; /* Rounded corners */
    border: solid 2px #cba6f7; /* Border styling */
    position: absolute; /* Use relative positioning */
    overflow: hidden; /* Hide overflow */
}

/* Image container styling */
.image-container {
    width: calc(100% - 20px); /* Width of image container with padding */
    height: 180px; /* Fixed height for the image */
    margin: 10px; /* Margin to create space */
    overflow: hidden; /* Hide overflow for cropping */
    border-radius: 10px; /* Rounded corners */
	user-select: none;
}

/* Image styling */
.image {
    pointer-events: none;
    width: 100%; /* Make the image fill the container */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Crop the image if necessary */
    border-radius: 10px; /* Rounded corners for the image */
    transform: translate(-0px, -60px)  scale(1); /* Move the image to the center horizontally */
}

/* Searchbar styling */
#searchQuery {
    padding: 6px; 
    width: calc(100% - 20px); /* Width of image container with padding */
    margin-left: 10px; /* Margin to create space */
    border-radius: 10px; 
    border: 2px; 
    background-color: #cdd6f4; 
    outline: none;
    text-align: center;
}

/* TABS styling */
.tabs-container {
    display: flex; /* Display tabs horizontally */
    height: auto;
    margin: 10px;
    gap: 10px;
}

.tab-container {
    flex: 1; /* each tab takes the same width */
}

.tab {
    width: calc(100% - 20px); /* Width of image container with padding */
    height: 112px;
    padding: 10px; /* Padding to increase the size of the tab */
    background-color: #1e1e2e; /* Tab background color */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden; /* Text clipped */
}

.tab a {
    font-family: 'SF Pro Display', sans-serif;
    font-size: 16px;
    color: #cdd6f4;
    text-decoration: none;
    text-align: center;
    display: block;
    margin: 5px 0;
}

.tab a:hover {
    text-decoration: underline;
    color: #cba6f7;
}


/* Navigation Button styling */
.nav-buttons {
    display: flex;
    justify-content: center; /* Space between buttons */
    gap: 5px; /* Distance between buttons */
    width: 100%; /* Make the button take up the full width */
    margin-top: 10px;
}

.nav-button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #1e1e2e;
    cursor: cursor;
}

.nav-button:hover {
    background-color: #cba6f7;
}

.nav-button.active {
    background-color: #cba6f7;
}
