body {
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #11111b;
}

.container {
    width: 700px;
    height: auto;
    max-width: calc(100% - 20px);
    max-height: calc(100% - 20px);
    background-color: #181825;
    border-radius: 10px;
    border: solid 2px #f38ba8;
    position: absolute;
    overflow: hidden;
}

.image-container {
    width: calc(100% - 20px);
    height: 240px;
    margin: 10px;
    overflow: hidden;
    border-radius: 10px;
	user-select: none;
}

.image {
    pointer-events: none;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    transform: translate(-0px, -140px);
}

#searchQuery {
    padding: 6px; 
    width: calc(100% - 20px);
    margin-left: 10px;
    border-radius: 8px; 
    border: 2px; 
    background-color: #1e1e2e; 
    outline: none;
    text-align: center;
    font-family: monospace;
    font-size: 16px;
    color: #f38ba8;
}

.tabs-container {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    margin: 10px;
    gap: 10px;
}

.tab-container {
    flex: 1;
}

.tab {
    width: calc(100% - 20px);
    height: 120px;
    padding: 10px;
    background-color: #1e1e2e;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.tab a {
    font-size: 16px;
    color: #94e2d5;
    text-decoration: none;
    text-align: center;
    display: block;
    margin: 5px 0;
}

.tab a:hover {
    /*text-decoration: underline;*/
    color: #f38ba8;
}

.nav-buttons {
    display: flex;
    justify-content: center;
    gap: 5px;
    width: 100%;
    margin-top: 10px;
}

.nav-button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #1e1e2e;
    cursor: default; /* default / pointer */
}

.nav-button:hover {
    background-color: #f38ba8;
}

.nav-button.active {
    background-color: #f38ba8;
}

@media (max-width: 600px) {
    .tabs-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    .tab-container {
        flex: none;
    }

    .container {
        height: auto;
    }
}
